/* body {
    background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 60px 0;
} */

/* .container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
} */

/* .gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
} */

/* .gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
} */

/* .tz-gallery {
    padding: 40px;
} */

@media screen and (max-width: 575px) {
    .tz-gallery {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (min-width: 576px) {
    .tz-gallery {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}


.tz-gallery .lightbox img {
    width: 100%;
    /* margin-bottom: 30px; */
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

/* .tz-gallery img {
    border-radius: 4px;
} */

.baguetteBox-button {
    background-color: transparent !important;
}


/* @media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
} */

/* .set-up:after {
    position: relative;
    bottom: 18px;
    background-color: #810f57;
    width: 100%;
    display: block;
    z-index: 3;
    content: "Set Up";
    font-size: 12px;
    transform: scale(1.05);
} */