@import 'styles-biz-colors.scss';
@import 'styles-custom.scss';
/////////////////////////////////////////////////////////////////////////
/* Styling for all Biz Products */
/* Updating the Font Family Base to Roboto */
$font-family-sans-serif:
  // Safari for macOS and iOS (San Francisco)
    //   -apple-system,
  // Chrome < 56 for macOS (San Francisco)
    //   BlinkMacSystemFont,
  // Windows
    //   "Segoe UI",
  "Roboto",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;


/* smooth scroll start */
html {
    scroll-behavior: smooth;
}
/* smooth scroll end */



/* Updating All the Headings to Open Sans */
h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
}


/* right arrow appearing in the overviews page for the call to action card item */ 
.right-arrow-icon-circle {
    position: absolute;
    left: -19px;
    top: 35%;
    filter: drop-shadow(0 0 2px rgba(0,0,0, .2)); 
}

 
/* Updating the colors for all biz products */
$green: #5fcf80; // success button

/* All - Btn-success border bottom for all biz products */
.btn-success {
    box-shadow: 0 3px 0 darken($green, 20%);
}

/* Overriding box shadow values for all */
$box-shadow: 0 0 .75rem 0 rgba(0,0,0,.25);
$box-shadow-lg: $box-shadow;
.shadow-lg {
    box-shadow: none;
    @media (min-width: 992px) {    
        box-shadow: $box-shadow-lg;
    }
}

///////////////////////////////////////////
//// Start - Navigation Styles for All
/* Navigation - Border bottom for mobile and tablet only */
.border-bottom-sm-md {
    @media (max-width: 991px) {
        border-bottom: 1px solid rgba(255, 255, 255, .1); 
    }
}
.nav-item:hover {
    @media (min-width: 992px) {
        background-color: darken($primary, 10%);
        transition: 1s;
    }
}

/* Navigation - Selected page in large view and up */
.selected {
    @media (min-width: 992px) {
        background-color: lighten($dark,2%);

    }
}

//// End - Navigation Styles for All
///////////////////////////////////////////

/* Changing the opacity / color of the placeholder */
input::placeholder {
    opacity: .7 !important;
}

/* Opacity utilities*/
.opacity-0 {
    opacity: 0;
  }
.opacity-1 {
    opacity:0.2;
}
.opacity-2 {
    opacity: 0.4;
}
.opacity-3 {
    opacity: 0.6;
}
.opacity-4 {
    opacity: .8;
}
.opacity-5 {
    opacity: 1;
}

/* link unstyled */
// .link-unstyled {
//     &,
//     &:visited,
//     &:hover,
//     &:active,
//     &:focus,
//     &:active:hover {
//       font-style: inherit;
//       color: inherit;
//       background-color: transparent;
//       font-size: inherit;
//       text-decoration: none;
//       font-variant: inherit;
//       font-weight: inherit;
//       line-height: inherit;
//       font-family: inherit;
//       border-radius: inherit;
//       border: inherit;
//       outline: inherit;
//       box-shadow: inherit;
//       padding: inherit;
//       vertical-align: inherit;
//     }
//   }

/* DanceBiz background color utilities */
.db-primary-color-bg {
    background-color: $primary;
}

/* DanceBiz text utilities */
// .db-text-color-primary {
//     color: $primary;
// }

// .db-text-color-light {
//     color: $secondary;
// }

/////////////////////////////////////////////////////////////////////////
/* All gradients readjusted */
// the big gradient
@mixin gradient {
    
    // dancebiz
    // background: rgb(189,26,141);
    // background: radial-gradient(circle, rgba(189,26,141) 25%, rgb(158, 20, 117) 85%,  rgb(158, 20, 117) 100%);

    // classbiz
    // background: radial-gradient(circle, rgba(119,48,121,1) 40%, rgba(89,36,91) 87%, rgba(74,30,75,1) 100%);
    // background: radial-gradient(circle, rgb(150, 62, 153) 25%, rgb(119,48,121) 95%);


    // gymnasticsbiz
    // background: rgb(246,146,30);
    // background: radial-gradient(circle, rgba(246,146,30) 40%, rgba(226,113,8) 87%, rgb(221, 119, 3) 100%);

    // musicbiz
    // background: rgb(207,156,46);
    // background: radial-gradient(circle, rgb(207, 156, 46) 40%, rgb(196, 140, 56) 75%, rgb(179, 121, 35) 100%);

    // sportsbiz
    // background: radial-gradient(circle, rgb(173, 38, 42) 40%, rgb(156, 32, 36) 67%, rgb(146, 2, 7) 100%);


    // swimbiz
    // background: radial-gradient(circle, rgb(8, 116, 204) 40%, rgb(5, 112, 199) 67%, rgb(18, 96, 199) 100%);

    // tennisbiz
    // background: rgb(6,139,77);
    // background: radial-gradient(circle, rgb(19, 150, 89) 40%, rgb(7, 141, 79) 67%, rgb(3, 107, 58) 100%);
    background: radial-gradient(circle, rgb(22, 168, 100) 40%, rgb(8, 146, 82) 75%, rgb(3, 124, 68) 100%);

    // for all biz colors
    box-shadow: inset 0px -43px 75px -50px rgba(0,0,0,.1);
    position: relative;
}

// the small gradient for the profile cards and pricing page
@mixin gradient-small {
    // dancebiz
    // background: rgb(189,26,141);
    // background: radial-gradient(circle, rgba(189,26,141) 25%, rgb(158, 20, 117) 85%,  rgb(158, 20, 117) 100%);

    // classbiz
    // background: rgb(150,62,153);
    // background: radial-gradient(circle, rgba(119,48,121,1) 40%, rgba(89,36,91) 87%, rgba(74,30,75,1) 100%);
    // background: radial-gradient(circle, rgb(150, 62, 153) 25%, rgb(119,48,121) 95%);


    // gymnasticsbiz
    // background: rgb(246,146,30);
    // background: radial-gradient(circle, rgba(246,146,30) 40%, rgba(226,113,8) 87%, rgb(221, 119, 3) 100%);

    // musicbiz
    // background: rgb(207,156,46);
    // background: radial-gradient(circle, rgb(207, 156, 46) 40%, rgb(196, 140, 56) 75%, rgb(179, 121, 35) 100%);

    // sportsbiz
    // background: radial-gradient(circle, rgb(173, 38, 42) 40%, rgb(156, 32, 36) 67%, rgb(146, 2, 7) 100%);

    // swimbiz
    // background: rgb(3, 112, 201);
    // background: radial-gradient(circle, rgb(8, 116, 204) 40%, rgb(5, 112, 199) 67%, rgb(18, 96, 199) 100%);
    
    // tennisbiz
    // background: rgb(1,128,69);
    // background: radial-gradient(circle, rgb(22, 168, 100) 40%, rgb(8, 146, 82) 75%, rgb(3, 124, 68) 100%);
    background: radial-gradient(circle, rgb(22, 168, 100) 40%, rgb(8, 146, 82) 75%, rgb(3, 124, 68) 100%);
    box-shadow: inset 0px -43px 75px -50px rgba(0,0,0,.2);
}

// hero gradient background (black values only which fade to the center)
.hero-gradient-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,.1) 0%,rgba(0,0,0,.1) 75%, rgba(0,0,0,.3) 100%);
}


// gradient big
.gradient-main-1 {
    @include gradient();
    overflow: hidden;
}
// small gradient for profile and pricing cards
// gradient small
.gradient-small {
    @include gradient-small;
    box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,.1);
}

.overflow-visible, .overflow-show {
    overflow: visible;
}

/////////////////////////////////////////////////////////////////////////

// @import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.nav-gradient:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 120%;
    left: -10%;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 50%, rgba(0,0,0,0.3) 75%);
    z-index: -1;
    @include media-breakpoint-up(md) {
        background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 25%, rgba(0,0,0,0.25) 65%, rgba(0,0,0,0.6) 100%);
    }
}

.nav-gradient-push {
    position: relative;
    z-index: 2;
}

.nav-gradient-bottom:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 120%;
    left: -10%;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 50%, rgba(0,0,0,0.3) 75%);
    z-index: 1;
    @include media-breakpoint-up(md) {
        background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 25%, rgba(0,0,0,0.25) 65%, rgba(0,0,0,0.6) 100%);
    }
}

/////////////////////////////////////////////////////////////////////////
// Some styles must be placed below bootstrap.scss to be overidden
/////////////////////////////////////////////////////////////////////////

// .btn-outline-primary:hover {
//     color: #fff;
// }

/////////////////////////////////////////////////////////////////////////    
/* overview page */
// overview card-container
.overview-card-container-lg-and-xl {
    @include media-breakpoint-up(lg) {
        top: -5em;
    }
    @include media-breakpoint-up(lg) {
        top: -6.5em;
    }
}


/* dancebiz hero image styles */
/* download page */
// @include media-breakpoint-up(lg) {
//     .db-hero-image {
//         position: absolute;
//         top: -195px;
//         width: 70%;
//         right: $spacer * 4;
//     }
// }

// @include media-breakpoint-up(xl) {
//     .db-hero-image {
//         top: -210px;
//         width: 60%;
//         right: 130px;
//     }
// }

/* contact page */

////////////////////////////////////////////////
/* profile card styles start */
.profile-card {
    width: 100%;
    @include media-breakpoint-up(sm) {
        width: 195px;
    }
    @include media-breakpoint-up(xl) {
        width: 195px;
    }
}

.card-profile-picture-bg {
    @include gradient-small();
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    @include media-breakpoint-up(sm) {
        border-radius: 5px 5px 0 0;
    }
}

.card-profile-pic-holder {
    width: 70px;
    height: 70px;
    border: 4px solid #fff;
    @include media-breakpoint-up(sm) {
        width: 80px;
        height: 80px;
        position: relative;
        bottom: -40px;
        z-index: 1;
    }
}

/* profile card styles end */
////////////////////////////////////////////////

// .btn-outline-secondary {
//     color: $primary;
//     border: 1px solid $primary;
// }

// .btn-outline-secondary:hover {
//     color: #fff;
//     background-color: $primary;
//     border: 1px solid $primary;
// }

// a.db-text-color-primary:hover {
//     color: #fff;
// }

////////////////////////////////////////////////
/* pricing styles */

.pricing-container-card {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    @include media-breakpoint-up(sm) {
        margin-left: .5rem;
        margin-right: .5rem;
    }

    @include media-breakpoint-up(md) {
        width: 205px;
    }

}

////////////////////////////////////////////////

/* custom utilities (none found in bootstrap so have to make new ones) */
.text-shadow {
    text-shadow: 0 0 9px rgba(0,0,0,.5);
}

.btn-dark {
    box-shadow: 0 3px 0 darken($primary, 40%);
}


// /* light grey background for blog and free trial page */
// .light-grey-bg:before {
//     display: none;
//     @include media-breakpoint-up(md) {
//         content: " ";
//         background-color: darken($light, 1%);
//         width: 100%;
//         height: 15%;
//         position: absolute;
//         z-index: -1;
//         display: block;
//     }
// }
///////////////////////////////////////////////////////////
/* blog styles only */

.blog-image-main {
    width: 100%;
    object-fit: cover;
    height: 130px;
    @include media-breakpoint-up(sm) {
        object-fit: cover;
        height: 150px;
    }

    @include media-breakpoint-up(md) {
        object-fit: cover;
        height: 200px;
    }
    @include media-breakpoint-up(lg) {
        height: 280px;
    }
    @include media-breakpoint-up(xl) {
        height: 350px;
        object-fit: cover;
        
    }
}

.blog-image-secondary {
    object-fit: cover;
    height: 120px;
}

///////////////////////////////////////////////////////////
.bg-primary-darker {
    background-color: darken($primary, 25%);
    box-shadow: 0 4px 0px darken($primary, 35%);
}

.button-shadow {
    // box-shadow: 0 4px 0px $secondary;
    box-shadow: 0 4px 0px darken($primary, 10%);
};

///////////////////////////////////////////////////////////
/* styles for download page only */
.downloads-logo-container {
    height: 80px;
}

/* downloads modal */
.modal-icon {
    height: 22px;
    width: auto;
}
.downloads-modal {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    @include media-breakpoint-up(sm) {
        width: 100%;    
    }
}

.downloads-container {
    margin-left: auto;
    margin-right: auto;
    @include media-breakpoint-up(lg) {
        width: 900px; 
    }
    @include media-breakpoint-up(xl) {
        width: 960px;
    }
}

.download-picture-container {
    height: 120px;
    overflow:hidden;
    @include media-breakpoint-up(sm) {    
        height: 150px;
    }

    @include media-breakpoint-up(md) {
        height: 140px;
    }

    @include media-breakpoint-up(xl) {
        height: 170px;           
    }
}

.download-icons-and-logo {
    $icon-logo-width: 55px;
    width: $icon-logo-width;
}

.downloads-graphic {
    width: 90%;
    @include media-breakpoint-up(sm) {    
        width: 85%;
    }

    @include media-breakpoint-up(md) {    

    }
    @include media-breakpoint-up(md) {    
        
    }
}

.downloads-point-of-sale {
    width: 80%;
    height: auto;
    top: .5rem;
    left: 10%;
    @include media-breakpoint-up(sm) {    
        top: 1rem;
        left: 25%;
        width: 50%;
    }

    @include media-breakpoint-up(md) {    
        width: 75%;
        left: 10%;
    }

    @include media-breakpoint-up(lg) {    
        top: .75rem;
        width: 55%;
        left: 20%;
    }
}

.google-play-badge, .app-store-badge  {
    height: 40px;
    
    @include media-breakpoint-up(sm) {
        height: 45px;
    }

    @include media-breakpoint-up(md) {
        height: 40px;
    }

    @include media-breakpoint-up(lg) {
        height: 45px;
    }

}

/* */
.pointer {cursor: pointer;}

////////////////////////////////////////////////
/* styles for the feature page */
.features-page-graphic-height {
    max-height: 120px;
    @include media-breakpoint-up(lg) {
        height: 140px;
    }
}


.image-overlay:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0, .4);
    z-index: 9;
}

.features-hero {
    opacity: .3;
    filter: blur(1px);
}


/* features styles only */
.features-icons-hero {
    // width: 50px;
    width: auto;
    height: 50px;
    @include media-breakpoint-up(sm) {
        // width: 60px;
        height: 60px;
    }
    @include media-breakpoint-up(md) {
        // width: 60px;
        height: 60px;
    }
    @include media-breakpoint-up(lg) {
        // width: 60px;
        height: 60px;
    }
}

// to delete
// .features-icons-large {
//     width: 65px;
//     height: auto;
//     margin-left: auto;
//     margin-right: auto;
//     opacity: .2;
//     @include media-breakpoint-up(lg) {
//         width: 60px;
//     }
//     @include media-breakpoint-up(xl) {
//         width: 100px;
//     }
// }
// .collapsing {
//     background-color: #5fcf80;
// }

/* size of icons on left sidebar */
.features-icons-categories {
    width: 40px;
    height: auto;
}

/* size of icons if full width */
.features-icons-full-width {
    // width: auto;
    // background: green;
    // margin: 0 auto 0 auto;
    width: 40px;
    height: 40px;
    @include media-breakpoint-up(lg) {
        width: 52px;
        height: 52px;
        // padding: 8px;
    }
}

////////////////////////////////////////////////

/* Sign-up Page Styles Only */
.light-bg-strip:after {
    @include media-breakpoint-up(xl) {
        content: "";
        width: 100%;
        height: 15%;
        position: absolute;
        background-color: $light;
        z-index: -1;
    }
}


.categories-link:hover {
    background-color: lighten(#686868, 50%);
    transition: 0.9s;
}

.features-accordion-arrow.mb-0 {
    position: relative;
}

.features-accordion-arrow.mb-0:after {
    content: "\f078"; /* fa-chevron-down */
    font-family: 'FontAwesome';
    opacity: .2;
    position: absolute;

    top: 1.25rem;
    right: 1rem;

    @include media-breakpoint-up(lg) {
        top: 1.75rem;
        right: 1.25rem;
    }
    
}

.features-accordion-arrow.mb-0[aria-expanded="true"]:after {
    content: "\f077"; /* fa-chevron-up */
    opacity: .2;
}


.card-header-feature:hover {
    background-color:lighten(#686868, 55%) !important;
    transition: 0.9s;
}

/* Downloads Accordion */
.accordion-arrow.mb-0 > a {
    display: block;
    position: relative;
}

.accordion-arrow.mb-0 > a:after {
    content: "\f078"; /* fa-chevron-down */
    font-family: 'FontAwesome';
    position: absolute;
    right: 0;
    opacity: .2;
  }

.accordion-arrow.mb-0 > a[aria-expanded="true"]:after {
    content: "\f077"; /* fa-chevron-up */
    opacity: .2;
  }

.features-arrow {
    top: 5rem;
}

// body.modal-open {
//     padding-left: 0 !important;

//     padding-right: 0 !important;
//   }


///////////////////////////////////////////////////////////


.carousel-fade {
	.carousel-item {
		display: block;
		// position: absolute;
		opacity: 0;
		transition: opacity .75s ease-in-out;

		&.active {
			opacity: 1;
		}
	}
}

// generic image for call center //
.headset-keyboard-cord-right {
    position: absolute;
    width: 470px;
    height: auto;
    left: 5%;
    @include media-breakpoint-up(sm) {
        width: 550px;
        left: 10%;
    }
    @include media-breakpoint-up(md) {
        width: 450px;
        left: 0;
    }      
}

.headset-keyboard-cord-left {
    @include media-breakpoint-up(lg) {
        position: absolute;
        width: 430px;
        left: -7.5%;
        bottom: 12px;
    }
    @include media-breakpoint-up(xl) {
        position: absolute;
        // width: 440px;
        left: -5%;
        bottom: 12px;
    }
}


.call-center-image {
    position: absolute;
    height: 230px;
    width: auto;
    bottom: -1.25rem;
    right: 4rem;

    @include media-breakpoint-up(xl) {
        height: 260px;
    }
}

.extension-cord {
    position: absolute;
    left: 0;
    top: 0;
}

.call-center-headset-and-keyboard-1 {
    // padding-top:50px;
    // position: absolute;
    // height: auto;
    // width: 102%;
    height: 190px;
    width: auto;
    // left: 0;
    // top: 205px;
    margin-left: -.75rem;
    // top: 0;
    // left: -1rem;
    // left: 0;
    // bottom: -40px;
    // z-index: 9999;
}


.call-center-headset-and-keyboard {
    position: absolute;
    height: 230px;
    width: auto;
    bottom: -1.25rem;
    right: 4rem;

    @include media-breakpoint-up(xl) {
        height: 260px;
    }
}

// specific styles for dancebiz testimonials
.db-testimonials {
    height: 350px;
    @include media-breakpoint-up(sm) {
        height: 230px;
    }
    @include media-breakpoint-up(md) {
        height: 220px;
    }
    @include media-breakpoint-up(lg) {
        height: 250px;
    }
    @include media-breakpoint-up(xl) {
        height: 250px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        height: 2rem;
        position: absolute;
        background-image: none;
        top: 35%;
    }
    
    .carousel-control-next-icon:after {
      content: '\f105';
      font-family: "Font Awesome 5 Free"; font-weight: 900;
      font-size: 2rem;
      line-height: 2rem;
      color: $gray-400;
    }
    
    .carousel-control-prev-icon:after {
      font-family: "Font Awesome 5 Free"; font-weight: 900;
      content: '\f104';
      font-size: 2rem;
      line-height: 2rem;
      color: $gray-400;
    }

    .carousel-indicators li {
        background-color: $gray-200;
    }

    .carousel-indicators .active {
        background-color: $gray-500;
    }
}

///////////////////////////////////////////////////////////////////////////////////
// background skewed shapes start
// left side 
.shape-backgrounds-container {
    // background-color: red;
    // display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    transform:skew(-20deg);
}

.shape-graphic-container-left {
    // background-color: red;
    opacity: .8;
    position: absolute;
    height: 100%;
    left: -15%;
    width: 33.33%;
    @include media-breakpoint-up(sm) {
        left: -7.5%;
        width: 33.33%;
    }
}

.shape-graphic-left-side-a {
    // background-color: red;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.03);
    left: 0;
}

.shape-graphic-left-side-a1 {
    // background-color: red;
    position: absolute;
    height: 100%;
    width: 38.5%;
    background-color: rgba(0,0,0,.02);
    left: 0;
}

.shape-graphic-left-side-a:before {
    content: "";
    // background-color: yellow;
    position: absolute;
    height: inherit;
    width: 66.66%;
    background-color: rgba(0,0,0,.04);
    @include media-breakpoint-up(xl) {
        width: 80%;
    }
}

.shape-graphic-left-side-a:after {
    content: "";
    // background-color: orange;
    position: absolute;
    height: inherit;
    width: 33.33%;
    background-color: rgba(0,0,0,.05);
    @include media-breakpoint-up(xl) {
        width: 80%;
    }
}

.shape-graphic-left-side-a-extra-color-bar {
    position: absolute;
    height: 100%;
    width: 53.33%;
    // background-color: blueviolet;
    background-color: rgba(0,0,0,.06);
    @include media-breakpoint-up(xl) {
        // width: 53.33%;
        width: 60%;
    }
}

.shape-graphic-left-side-a-last {
    @include media-breakpoint-up(xl) {
        position: absolute;
        height: 100%;
        left: 0;
        background-color: rgba(0,0,0,.03);
        width: 38.5%;
    }
}


//////////////////////////////////////////////////////////////////
// right side
.shape-right {
        // background-color: red;
        opacity: .8;
        transform: rotate(180deg);
        position: absolute;
        height: 100%;
        right: -25%;
        width: 33.33%;
        @include media-breakpoint-up(sm) {
            // right: -7.5%;
            right: -12.5%;
            width: 33.33%;
        }
}

.shape-graphic-container-right-alt {
    // background-color: red;
    position: absolute;
    opacity: .8;
    height: 100%;
    right: -5%;
    width: 33.33%;
    @include media-breakpoint-up(sm) {
        right: -7.5%;
        width: 33.33%;
    }
}

.shape-graphic-right-side-b {
    position: absolute;
    height: 100%;
    width: 100%;
    // background-color: red;
    background-color: rgba(0,0,0,.03);
    right: 0;
}

.shape-graphic-right-side-b:before {
    content: "";
    right: 0;
    position: absolute;
    height: inherit;
    width: 66.66%;
    // background-color: yellow;
    background-color: rgba(0,0,0,.04);
    @include media-breakpoint-up(xl) {
        // width: 85%;
        width: 80%;
    }
}

.shape-graphic-right-side-b:after {
    content: "";
    position: absolute;
    height: inherit;
    width: 33.33%;
    right: 0;
    // background-color: orange;
    background-color: rgba(0,0,0,.05);
    @include media-breakpoint-up(xl) {
        // width: 70%;
        width: 80%;
    }
}

.shape-graphic-right-side-b-extra-color-bar {
    // width: 53.33%;
    position: absolute;
    height: 100%;

    right: 0;
    // background-color: blueviolet;
    background-color: rgba(0,0,0,.06);
    @include media-breakpoint-up(xl) {
        // width: 53.33%;
        width: 60%;
    }
}

.shape-graphic-right-side-b-last {
    @include media-breakpoint-up(xl) {
        position: absolute;
        height: 100%;
        right: 0;
        // background-color: blueviolet;
        background-color: rgba(0,0,0,.03);
        width: 38.5%;
    }
}


.small-angle-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

// background skewed shapes end
///////////////////////////////////////////////////////////////////////////////////

.testimonials-card {
    @include media-breakpoint-up(xl) {
        box-shadow: $box-shadow-lg;
    }
}

// main slide for testimonials
.main-slide-container-for-client-testimonials {
    
    .testimonials-slide-container {
        height: auto;
    }
    
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        position: absolute;
        background-image: none;
    }
    
    .carousel-control-prev, .carousel-control-next {
        width: 10%;
        @include media-breakpoint-up(lg) {
            // width: 53.33%;
            width: 7.5%;
        }
        
        @include media-breakpoint-up(xl) {
            // width: 53.33%;
            width: 5%;
        }
    }

    .carousel-control-next-icon:after {
      content: '\f105';
      font-family: "Font Awesome 5 Free"; font-weight: 900;
      font-size: 2rem;
      line-height: 2rem;
      color: $gray-400;
    }
    
    .carousel-control-prev-icon:after {
      font-family: "Font Awesome 5 Free"; font-weight: 900;
      content: '\f104';
      font-size: 2rem;
      line-height: 2rem;
      color: $gray-400;
    }

    .carousel-indicators li {
        background-color: $gray-200;
    }

    .carousel-indicators .active {
        background-color: $gray-500;
    }

    .carousel-indicators {
        bottom: -1.5rem;
    }
}

// index / overview page slide styles for partners generic section
.main-slide-container-for-partners {
      
    .partners-slide-container {
        height: 160px;
    }
   
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        position: absolute;
        background-image: none;
    }

    .carousel-control-prev, .carousel-control-next {
        width: 10%;
    }

    .carousel-control-next-icon:after {
      content: '\f105';
      font-family: "Font Awesome 5 Free"; font-weight: 900;
      font-size: 2rem;
      line-height: 2rem;
      color: $gray-400;
    }
    
    .carousel-control-prev-icon:after {
      font-family: "Font Awesome 5 Free"; font-weight: 900;
      content: '\f104';
      font-size: 2rem;
      line-height: 2rem;
      color: $gray-400;
    }

    .carousel-indicators li {
        background-color: $gray-200;
    }

    .carousel-indicators .active {
        background-color: $gray-500;
    }

    .carousel-indicators {
        bottom: -1.25rem;
    }
}

/* logo icon fixed height */
// .icon-logo-style {
//     $icon-logo-height: 55px;
//     height: $icon-logo-height;
//     width: auto;
    
//     @include media-breakpoint-up(md) {
//         $icon-logo-height-md: 60px;
//         height: $icon-logo-height-md;
//     }
// }

/* logo icon fixed width */
.icon-logo-style {
    width: 50px;
    height: auto;
    @include media-breakpoint-up(lg) {
        height: auto;
        width: 55px;
    }

}


/* bg color check */
// .bg-check {
//     background-color: rgba(100,150,200, .5) !important;
// }

.form-shadow {
    @include media-breakpoint-up(lg) {
        box-shadow: $box-shadow-lg;
        // position: relative;
        // z-index: 1;
    }
}

// .ballerina-pricing {
//     max-height: 300px;
//     width: auto;
// }

// .pricing-bg:after {
//     width: 100%;
//     height: 100%;
//     content: "";
//     position: absolute;
//     background-color: $light;
// }

.over-1000-students {
    @include media-breakpoint-up(lg) {
        min-height: 250px;
    }

}

.signup-icons {
    width: 60px;
    @include media-breakpoint-up(lg) {
        width: 80px;
    }
}



/* styling for all videos */
.iframe-container {
    overflow: hidden;
    // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
    padding-top: 56.25%;
    position: relative;
  }
   
  .iframe-container iframe {
     border: 0;
    //  border: 1px solid rgba(92,190,255,.3);
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }

  .testimonial-container {
    //   height: 150px;
      width: 100%;
      overflow: hidden;
  }

  .testimonial-cover {
    object-fit: cover;
    height: 170px;
    width: 100%;
    overflow: hidden;
}

.dancebiz-hero-image {
    // background-color: red;

    @include media-breakpoint-up(md) {
        // z-index: 1;
        position: absolute;
        width: auto;
        height: 330px;
        bottom: -60px;
        left: -70px;
    }

    @include media-breakpoint-up(lg) {
        position: absolute;
        width: auto;
        height: 420px;
        bottom: -80px;
        left: -95px;
    }

    @include media-breakpoint-up(xl) {
        height: 480px;
        bottom: -115px;
        left: -150px;
    }
}

.hero-image-main-styles {
    @include media-breakpoint-up(xl) {

    }
}


.db-headline-large {
    z-index: 9;
    position: relative;
}

.over-1000:after {
    @include media-breakpoint-up(xl) {
        content: "";
        background-color: #f8f9fa;
        width: 85%;
        height: 135px;
        top: 35px;
        border-radius: 5px;
        position: absolute;
        // border: 1px solid #e2e2e2;
        z-index: -1;
    }
}



.features-hero-image {
    @include media-breakpoint-up(lg) {
        position: absolute;
        top: -185px;
        height: 250px;
        left: 10%;
    }
}

.download-hero-image {
    @include media-breakpoint-up(lg) {
        position: absolute;
        bottom: -10%;
        height: 200px;
        left: 15%;
    }
    @include media-breakpoint-up(lg) {
        position: absolute;
        bottom: 10%;
        height: 210px;
        left: 10%;
    }
}




/* customer portal - product slider styles 5 */
.product-slider-section-5 {
    padding: 0;
  }
  .product-slider-section-5 .carousel-inner {
    cursor: move;
  }
  .product-slider-section-5 .carousel-indicators {
    overflow-y: hidden;
    overflow-x: auto;
  }
  .product-slider-section-5 .carousel-indicators li {
    border: 2px solid transparent;
    cursor: pointer;
    float: left;
    height: auto;
    margin: 10px 0 12px 0;
    padding: 5px;
    text-align: center;
    text-indent: unset;
    // width: 185px;
  }
  .product-slider-section-5 .carousel-indicators li.active {
    border: 2px solid #dddddd;
  }
  .product-slider-section-5 .carousel-indicators li .data-slide-image {
    width: 100px;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 767px) {
    .product-name {
      margin-top: 30px;
    }
  }


  .iframe-container-footer {
    overflow: hidden;
    // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
    padding-top: 56.25%;
    position: relative;
    bottom: 20px;
  }
   
  .iframe-container-footer iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }


// svg shadows
/* main headline for all the biz products */
.headline-svg-shadow {
    -webkit-filter: drop-shadow(0 0 9px rgba(0,0,0,.5));
    filter: drop-shadow(0 0 9px rgba(0,0,0,.5));
    // -webkit-filter: drop-shadow(0 0 5px rgba(0,0,0, .6));         
    // filter: drop-shadow(0 0 5px rgba(0,0,0, .6));
}

.logo-icon-svg-shadow {
    -webkit-filter: drop-shadow(0 0 9px rgba(0,0,0,.5));
    filter: drop-shadow(0 0 9px rgba(0,0,0,.5));
}

.generic-svg-shadow {
    -webkit-filter: drop-shadow(0 0 9px rgba(0,0,0,.5));
    filter: drop-shadow(0 0 9px rgba(0,0,0,.5));
    // -webkit-filter: drop-shadow(0 0 5px rgba(0,0,0, .6));         
    // filter: drop-shadow(0 0 5px rgba(0,0,0, .6));
}

// profile card styles


.gradient-inset-shadow-deep {
   
    box-shadow: inset 0px 0px 200px 25px rgba(0,0,0,.2);

    @include media-breakpoint-up(md) {
        box-shadow: inset 0px 0px 150px 45px rgba(0,0,0,.3);
    }

    @include media-breakpoint-up(lg) {
        box-shadow: inset 0px 0px 150px 45px rgba(0,0,0,.3);
    }

}
